<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KongloBoy Captial</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./styles/header.css">
    <link rel="stylesheet" href="./styles/style.css">
</head>

<body>
    <div class="navbar">
        <h3><a href="/">KongloBoy Capital</a></h3>
        <div class="navbar-links-container">
            <li><a href="#our-vision-section" class="nav-link">Vision</a></li>
            <li><a href="#our-focus-section" class="nav-link">Our Focus</a></li>
            <li><a href="#our-team-section" class="nav-link">Team</a></li>
            <li><a href="#our-portfolio-section" class="nav-link">Portfolio</a></li>
            <li><a href="#coin-information-section" class="nav-link">Coin Informations</a></li>
        </div>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>




</body>

</html>